*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#D4ADFC,#1D267D);
    
    display:flex ;
    align-items: center;   /*top to buttom*/
    justify-content: center;   /*left to right center*/
}
.calculator{
    background: #212532;
    padding: 20px;
    border-radius: 10px;
}
.calculator:hover{
    background: #212535;
}
.calculator h1{
    color: #fff;
    display: flex;
    justify-content: center;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -2px -2px 15px rgba(255,255,255, 0.1) /*top to left*/ , /*right and down*/ 2px 2px 15px rgba(0,0,0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    transition: .5s ease;
}

.calculator form input:hover{
    background: #10131c;
    color: #33ffd8;
}

form .display1{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    

}
form .display1 input{
    text-align: right; /*means the text field typing indication will be in the right side*/
    flex: 1;
    font-size: 45px;
}

form input.special-symbol{
    color: #33ffd8;
    
}
